<header>
  <input type="text" placeholder="Search by App" [(ngModel)]="searchText">
</header>

<ul>
  <li *ngFor="let app of apps | paginate: { itemsPerPage: pageSize, currentPage: page } | filter: searchText">
    <div class="app-item">
      <div class="box-info">
        <div class="box-info--content">
          <div class="description">
            <h1>{{app.name}}</h1>
            <p>{{app.description}}</p>
          </div>
          <div class="tags">
            <span *ngFor="let categorie of app.categories; let j = index"> 
              {{categorie}} <span *ngIf="!isLastElementOfArray(j, app.categories.length)">/</span>
            </span>
          </div>
        </div>
        <div class="box-info--footer">
          <ul>                    
            <li><span>Trial</span> <h3>Free<sup></sup></h3></li>
            <li><span>Professional</span> <h3>35.00<sup>€</sup></h3></li>
          </ul>
        </div>
      </div>
    </div>
  </li>
</ul>
<ul class="pagination">
  <pagination-controls 
    (pageChange)="page = $event"
    previousLabel=""
    nextLabel=""
  >
  </pagination-controls>
</ul>