<div class="flex-container">
<nav class="nav-categories">
        <h2>Categories</h2>

        <ul class="nav-menu">
          <li class="active"><a href="#">Channels</a></li>
          <li><a href="#">Dialer</a></li>
          <li><a href="#">Optimization</a></li>
          <li><a href="#">Reporting</a></li>
          <li><a href="#">Voice Analytics</a></li>
        </ul>

      </nav>

      <section class="apps-list">
        <header>
          <input type="text" placeholder="Search by App">
        </header>

        <ul>
          <li>
            <div class="app-item">
              <div class="box-info">
                <div class="box-info--content">
                  <div class="description">
                    <h1>Voice Report</h1>
                    <p>Calls reporting and analytics of your calls.</p>
                  </div>
                  <div class="tags">
                    <span>Voice Analytics</span> / <span>Reporting</span> / <span>Optimization</span>
                  </div>
                </div>
                <div class="box-info--footer">
                  <ul>                    
                    <li><span>Trial</span> <h3>Free<sup></sup></h3></li>
                    <li><span>Professional</span> <h3>35.00<sup>€</sup></h3></li>
                  </ul>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <ul class="pagination">
          <li><a href="#">&lt;</a></li>
          <li><a href="#">1</a></li>
          <li class="active"><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">&gt;</a></li>
        </ul>
      </section>
</div>